<h1><%= defined?(title) ? title : "Listing albums" %></h1>

<table class='albums'>
  <% @albums.each do |album| %>
    <tr>
      <td colspan='3'>
        <b>
          <%=album.title%>
        </b>
        <i>
          <%= album.year%>
        </i>
      </td>
    </tr>
    <tr>
      <td><%= link_to 'Show', album %></td>
      <td><%= link_to 'Edit', edit_album_path(album) %></td>
      <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Album', new_album_path %>
